<!DOCTYPE html>
<html xmlns:th="xmlns:th="http://www.thymeleaf.org"">
<head th:replace="layouts/master :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color: #ccc">
	<header th:replace="layouts/master :: header"></header>

	<div class="d-flex justify-content-center" style="width:100%;">
		<div class="card" style="width: 500px;">
			<div class="card-body text-center">
				<blockquote class="blockquote mb-0">
					<h1>Hola mundo</h1>
				</blockquote>
			</div>
		</div>
	</div>



	<footer th:replace="layouts/master :: footer"></footer>
</body>
</html>